<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flutter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="library/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="library/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <form id="search" action="" method="POST">
        <input autocomplete="off" autofocus="true" type="text" name="q" id="q" value="" />
        <input type="submit" id="button" value="Go" />
      </form>

    </div>


    <!-- Javascript -->
    <script src="library/js/bootstrap.js"></script>
    <script src="library/js/underscore-min.js"></script>
    <script src="library/js/backbone-min.js"></script>
    <script src="library/js/localstorage.js"></script>
    <script src="library/js/script.js"></script>

    <!-- Templates -->

    <script type="text/template" id="tweetListView">
      <li id="t_<%= id %>">
        <h3>
          <img src="<%= profile_image_url %>" alt="<%= from_user %>" width="45" />
          <div>
            <a href="http://twitter.com/<%= from_user %>" title="<%= from_user %>">@<%= from_user %></a> at 
          </div>
        </h3>
        <p><%= text %>
      </li>
    </script>

  </body>
</html>
