/******************************************************************
Site Name: Dessinate
Author: John Kilpatrick

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called by itself and is the only one called 
for devices that are smaller than 480px so that the mobile 
version pulls ONLY the css it needs. This means it's screamingly 
fast on mobile connections.

For more info, check out this great link on the topic:
http://nicolasgallagher.com/mobile-first-css-sass-and-ie/

******************************************************************/
/*********************
IMPORTING STYLES
*********************/
/* import reset */
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 21, ../../../compass/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, ../../../compass/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../../../compass/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../../../compass/sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../../../compass/sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, ../../../compass/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../../../compass/sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../../../compass/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../../../compass/sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, ../../../compass/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, ../../../compass/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, ../../../compass/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, ../../../compass/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, ../../../compass/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, ../../../compass/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, ../../../compass/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 168, ../../../compass/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, ../../../compass/sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, ../../../compass/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, ../../../compass/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 198, ../../../compass/sass/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, ../../../compass/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../../../compass/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, ../../../compass/sass/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 239, ../../../compass/sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, ../../../compass/sass/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 254, ../../../compass/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, ../../../compass/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, ../../../compass/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 280, ../../../compass/sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, ../../../compass/sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 294, ../../../compass/sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 303, ../../../compass/sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../../../compass/sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, ../../../compass/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, ../../../compass/sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, ../../../compass/sass/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, ../../../compass/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, ../../../compass/sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, ../../../compass/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 400, ../../../compass/sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 417, ../../../compass/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 428, ../../../compass/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 440, ../../../compass/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, ../../../compass/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 465, ../../../compass/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 474, ../../../compass/sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, ../../../compass/sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, ../../../compass/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 509, ../../../compass/sass/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 514, ../../../compass/sass/_normalize.scss */
dd {
  margin: 0;
}

/* line 520, ../../../compass/sass/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/* proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens) */
/* line 525, ../../../compass/sass/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto;
}

/* line 534, ../../../compass/sass/_normalize.scss */
b,
strong,
.strong {
  font-weight: bold;
}

/* line 540, ../../../compass/sass/_normalize.scss */
dfn,
em,
.em {
  font-style: italic;
}

/* line 544, ../../../compass/sass/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 24, ../../../compass/sass/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 26, ../../../compass/sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 30, ../../../compass/sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
/* line 41, ../../../compass/sass/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* this is pulled from Bootstrap */
/*********************
TYPOGRAPHY
*********************/
/* text alignment */
/* line 86, ../../../compass/sass/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 87, ../../../compass/sass/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 88, ../../../compass/sass/_mixins.scss */
.text-right {
  text-align: right;
}

/* alerts & notices */
/* line 92, ../../../compass/sass/_mixins.scss */
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 98, ../../../compass/sass/_mixins.scss */
.help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 103, ../../../compass/sass/_mixins.scss */
.info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 108, ../../../compass/sass/_mixins.scss */
.error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 113, ../../../compass/sass/_mixins.scss */
.success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
BORDER RADIUS
*********************/
/*********************
TRANISTION
*********************/
/* @include transition(all,2s,ease-out); */
/*********************
BOX SHADOWS
*********************/
/* @include box-shadow(5px, 5px, 10px, #000); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
GENERAL STYLES
*********************/
/* line 32, ../../../compass/sass/base.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 36, ../../../compass/sass/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #565656;
  min-height: 2000px;
}

/* line 44, ../../../compass/sass/base.scss */
.left {
  float: left;
}

/* line 48, ../../../compass/sass/base.scss */
.right {
  float: right;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* home page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 97, ../../../compass/sass/base.scss */
.wrap {
  width: 90%;
  margin: 0 auto;
}

/*
No Grid? Say Whaaaat?
There's really no need for all that
extraneous grid css since floating 
columns wouldn't really fit on such a 
small screen, so let's only bring it in
when we're ready for it.
*/
/*********************
LINK STYLES
*********************/
/* line 115, ../../../compass/sass/base.scss */
a, a:visited {
  color: #f01d4f;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 119, ../../../compass/sass/base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #f05e81;
}
/* line 129, ../../../compass/sass/base.scss */
a:link, a:visited:link {
  /* 
  this highlights links on iPhones/iPads. 
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 143, ../../../compass/sass/base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: serif;
  font-weight: normal;
  /* 
  if you're going to use webfonts, be sure to check your weights 
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */
}
/* line 152, ../../../compass/sass/base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 157, ../../../compass/sass/base.scss */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 162, ../../../compass/sass/base.scss */
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

/* line 168, ../../../compass/sass/base.scss */
h3, .h3 {
  font-size: 1.125em;
}

/* line 172, ../../../compass/sass/base.scss */
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 177, ../../../compass/sass/base.scss */
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 196, ../../../compass/sass/base.scss */
.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Merriweather',Georgia,serif;
  overflow: auto;
  font-size: 80%;
  border-bottom: 1px solid #222;
  box-shadow: 1px 1px 10px #000000;
  display: hidden;
}

/* line 196, ../../../compass/sass/base.scss */
nav#main-nav div.nav-item {
  display: inline-block;
  padding: 20px 20px;
  border-right: 1px solid #222;
  margin: 0px;
  color: #ddd;
  float: left;
  background-color: transparent;
  -webkit-transition: background-color 0.25s ease;
  cursor: pointer;
}

/* line 196, ../../../compass/sass/base.scss */
nav#main-nav div.nav-item:hover {
  background-color: #333;
}

/* .menu is clearfixed inside mixins.less */
/* line 199, ../../../compass/sass/base.scss */
.menu {
  margin: 1.1em 0;
  /* end .menu ul */
}
/* line 202, ../../../compass/sass/base.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 204, ../../../compass/sass/base.scss */
.menu ul li {
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
/* line 206, ../../../compass/sass/base.scss */
.menu ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.less file where it's relevant. We want to 
  keep this file as small as possible!
  */
}
/* line 240, ../../../compass/sass/base.scss */
.menu ul li ul.sub-menu li a,
.menu ul li ul.children li a {
  padding-left: 30px;
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 278, ../../../compass/sass/base.scss */
#content {
  margin-top: 2.2em;
}

/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 310, ../../../compass/sass/base.scss */
.meta {
  color: #999;
}

/* post content */
/* line 317, ../../../compass/sass/base.scss */
.post-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning 
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 352, ../../../compass/sass/base.scss */
.post-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 359, ../../../compass/sass/base.scss */
.post-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
}
/* line 374, ../../../compass/sass/base.scss */
.post-content video, .post-content object {
  max-width: 100%;
}
/* line 378, ../../../compass/sass/base.scss */
.post-content pre, .post-content code {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .post-content */
/* line 386, ../../../compass/sass/base.scss */
.wp-caption {
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 391, ../../../compass/sass/base.scss */
.wp-caption img {
  margin-bottom: 0;
  width: 100%;
}
/* line 396, ../../../compass/sass/base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 433, ../../../compass/sass/base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* fallback previous & next links */
/* line 442, ../../../compass/sass/base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 446, ../../../compass/sass/base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 457, ../../../compass/sass/base.scss */
#comments {
  /* number of comments span */
}

/* line 474, ../../../compass/sass/base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 476, ../../../compass/sass/base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 484, ../../../compass/sass/base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 488, ../../../compass/sass/base.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 506, ../../../compass/sass/base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 510, ../../../compass/sass/base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 515, ../../../compass/sass/base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 529, ../../../compass/sass/base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 532, ../../../compass/sass/base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 547, ../../../compass/sass/base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 550, ../../../compass/sass/base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 558, ../../../compass/sass/base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 561, ../../../compass/sass/base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 565, ../../../compass/sass/base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 575, ../../../compass/sass/base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 600, ../../../compass/sass/base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 603, ../../../compass/sass/base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 612, ../../../compass/sass/base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
/* line 624, ../../../compass/sass/base.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 636, ../../../compass/sass/base.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
/* line 640, ../../../compass/sass/base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 643, ../../../compass/sass/base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 649, ../../../compass/sass/base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 657, ../../../compass/sass/base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 663, ../../../compass/sass/base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 668, ../../../compass/sass/base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 681, ../../../compass/sass/base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 686, ../../../compass/sass/base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 699, ../../../compass/sass/base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 712, ../../../compass/sass/base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 717, ../../../compass/sass/base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 733, ../../../compass/sass/base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 754, ../../../compass/sass/base.scss */
.footer {
  clear: both;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to 
override these styles for the desktop
view.
*/
/* end .footer-links */
