/******************************************************************
Site Name: Dessinate
Author: John Kilpatrick

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the seperate functions for each media query. The base mobile 
stylesheet is called in the header, so here we're working up from 
there. To edit the css, just find the corresponding LESS file.
******************************************************************/
/*
Base.css contains the main mobile styles and is called in the 
header. This way mobile devices get ONLY the styles that apply
to them. No muss, no fuss.

normalize.css and the mixins are also called within that base file 
*/
/******************************************************************
AVERAGE VIEWING SIZE 
This is the average viewing window. So Desktops, Laptops, and 
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 481px) {
  /* styles in 481up.scss */
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  1px larger so its not loaded on landscaped iPhone. 
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /*********************
  HEADER SYTLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* line 131, ../../../compass/sass/_481up.scss */
  .post-content .alignleft, .post-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 136, ../../../compass/sass/_481up.scss */
  .post-content .alignright, .post-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 141, ../../../compass/sass/_481up.scss */
  .post-content .aligncenter, .post-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /******************************************************************
  PAGE NAVI STYLES
  ******************************************************************/
  /******************************************************************
  COMMENT STYLES
  ******************************************************************/
  /******************************************************************
  COMMENT FORM STYLES
  ******************************************************************/
  /*********************
  SIDEBARS & ASIDES
  *********************/
  /*********************
  FOOTER STYLES
  *********************/
}
/* end of media query */
/******************************************************************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and 
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 768px) {
  /* styles in 768up.scss */
  /******************************************************************
  Site Name: Flutter	
  Author: John James Kilpatrick
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /********************
  WORDPRESS BODY CLASSES
  style a page via class
  ********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /* line 61, ../../../compass/sass/_768up.scss */
  .wrap {
    max-width: 1140px;
  }

  /* line 65, ../../../compass/sass/_768up.scss */
  .onecol {
    width: 5.801104972%;
  }

  /* line 66, ../../../compass/sass/_768up.scss */
  .twocol {
    width: 14.364640883%;
  }

  /* line 67, ../../../compass/sass/_768up.scss */
  .threecol {
    width: 22.928176794%;
  }

  /* line 68, ../../../compass/sass/_768up.scss */
  .fourcol {
    width: 31.491712705%;
  }

  /* line 69, ../../../compass/sass/_768up.scss */
  .fivecol {
    width: 40.055248616%;
  }

  /* line 70, ../../../compass/sass/_768up.scss */
  .sixcol {
    width: 48.618784527%;
  }

  /* line 71, ../../../compass/sass/_768up.scss */
  .sevencol {
    width: 57.182320438000005%;
  }

  /* line 72, ../../../compass/sass/_768up.scss */
  .eightcol {
    width: 65.74585634900001%;
  }

  /* line 73, ../../../compass/sass/_768up.scss */
  .ninecol {
    width: 74.30939226%;
  }

  /* line 74, ../../../compass/sass/_768up.scss */
  .tencol {
    width: 82.87292817100001%;
  }

  /* line 75, ../../../compass/sass/_768up.scss */
  .elevencol {
    width: 91.436464082%;
  }

  /* line 76, ../../../compass/sass/_768up.scss */
  .twelvecol {
    width: 99.999999993%;
  }

  /* line 79, ../../../compass/sass/_768up.scss */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }

  /* line 85, ../../../compass/sass/_768up.scss */
  .first {
    margin-left: 0;
  }

  /* line 89, ../../../compass/sass/_768up.scss */
  .last {
    float: right;
  }

  /*********************
  HEADER SYTLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* line 105, ../../../compass/sass/_768up.scss */
  .nav {
    background: #eee;
    border: 0;
  }
  /* line 109, ../../../compass/sass/_768up.scss */
  .nav li {
    float: left;
    position: relative;
  }
  /* line 113, ../../../compass/sass/_768up.scss */
  .nav li a {
    border-bottom: 0;
  }
  /* line 117, ../../../compass/sass/_768up.scss */
  .nav li a:hover, .nav li a:focus {
    background-color: #dedede;
  }
  /* line 128, ../../../compass/sass/_768up.scss */
  .nav li ul.sub-menu,
  .nav li ul.children {
    width: 200px;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
  }
  /* line 138, ../../../compass/sass/_768up.scss */
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  /* line 155, ../../../compass/sass/_768up.scss */
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  /* line 173, ../../../compass/sass/_768up.scss */
  .nav li:hover ul {
    top: auto;
    display: block;
  }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /******************************************************************
  PAGE NAVI STYLES
  ******************************************************************/
  /******************************************************************
  COMMENT STYLES
  ******************************************************************/
  /******************************************************************
  COMMENT FORM STYLES
  ******************************************************************/
  /* line 392, ../../../compass/sass/_768up.scss */
  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url],
  .respond-form form textarea {
    /* form validation */
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  /* line 423, ../../../compass/sass/_768up.scss */
  .sidebar {
    margin-top: 2.2em;
  }

  /* line 427, ../../../compass/sass/_768up.scss */
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }

  /* line 432, ../../../compass/sass/_768up.scss */
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  /* line 437, ../../../compass/sass/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  /* line 445, ../../../compass/sass/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /*********************
  FOOTER STYLES
  *********************/
}
/* end of media query */
/******************************************************************
DESKTOP 
This is the average viewing window. So Desktops, Laptops, and 
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 1030px) {
  /* styles in 1030up.scss */
  /******************************************************************
  Site Name: Flutter	
  Author: John James Kilpatrick
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /********************
  WORDPRESS BODY CLASSES
  style a page via class
  ********************/
  /* home page */
  /* archive page */
  /* date archive page */
  /* replace the number to the corresponding page number */
  /* search page */
  /* search result page */
  /* no results search page */
  /* individual paged search (i.e. body.search-paged-3) */
  /* 404 page */
  /* single post page */
  /* individual post page by id (i.e. body.postid-73) */
  /* individual paged single (i.e. body.single-paged-3) */
  /* attatchment page */
  /* individual attatchment page (i.e. body.attachmentid-763) */
  /* style mime type pages */
  /* author page */
  /* user nicename (i.e. body.author-samueladams) */
  /* paged author archives (i.e. body.author-paged-4) for page 4 */
  /* category page */
  /* individual category page (i.e. body.category-6) */
  /* replace the number to the corresponding page number */
  /* tag page */
  /* individual tag page (i.e. body.tag-news) */
  /* replace the number to the corresponding page number */
  /* custom page template page */
  /* individual page template (i.e. body.page-template-contact-php */
  /* replace the number to the corresponding page number */
  /* replace the number to the corresponding page number */
  /* if user is logged in */
  /* paged items like search results or archives */
  /* individual paged (i.e. body.paged-3) */
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /* line 61, ../../../compass/sass/_1030up.scss */
  .wrap {
    max-width: 960px;
  }

  /* line 65, ../../../compass/sass/_1030up.scss */
  .onecol {
    width: 4.85%;
  }

  /* grid_1  */
  /* line 66, ../../../compass/sass/_1030up.scss */
  .twocol {
    width: 13.45%;
  }

  /* grid_2  */
  /* line 67, ../../../compass/sass/_1030up.scss */
  .threecol {
    width: 22.05%;
  }

  /* grid_3  */
  /* line 68, ../../../compass/sass/_1030up.scss */
  .fourcol {
    width: 30.75%;
  }

  /* grid_4  */
  /* line 69, ../../../compass/sass/_1030up.scss */
  .fivecol {
    width: 39.45%;
  }

  /* grid_5  */
  /* line 70, ../../../compass/sass/_1030up.scss */
  .sixcol {
    width: 48%;
  }

  /* grid_6  */
  /* line 71, ../../../compass/sass/_1030up.scss */
  .sevencol {
    width: 56.75%;
  }

  /* grid_7  */
  /* line 72, ../../../compass/sass/_1030up.scss */
  .eightcol {
    width: 65.4%;
  }

  /* grid_8  */
  /* line 73, ../../../compass/sass/_1030up.scss */
  .ninecol {
    width: 74.05%;
  }

  /* grid_9  */
  /* line 74, ../../../compass/sass/_1030up.scss */
  .tencol {
    width: 82.7%;
  }

  /* grid_10 */
  /* line 75, ../../../compass/sass/_1030up.scss */
  .elevencol {
    width: 91.35%;
  }

  /* grid_11 */
  /* line 76, ../../../compass/sass/_1030up.scss */
  .twelvecol {
    width: 100%;
  }

  /* grid_12 */
  /* line 78, ../../../compass/sass/_1030up.scss */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
    float: left;
    position: relative;
    margin-right: 3.8%;
  }

  /* line 84, ../../../compass/sass/_1030up.scss */
  .twelvecol {
    float: left;
    position: relative;
  }

  /* line 89, ../../../compass/sass/_1030up.scss */
  .last {
    margin-right: 0;
    float: right;
  }

  /*********************
  HEADER SYTLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* line 110, ../../../compass/sass/_1030up.scss */
  .menu ul {
    background: #eee;
  }
  /* line 113, ../../../compass/sass/_1030up.scss */
  .menu ul li {
    float: left;
    position: relative;
  }
  /* line 117, ../../../compass/sass/_1030up.scss */
  .menu ul li a {
    border-bottom: 0;
  }
  /* line 120, ../../../compass/sass/_1030up.scss */
  .menu ul li a:hover, .menu ul li a:focus {
    background-color: #dedede;
  }
  /* line 130, ../../../compass/sass/_1030up.scss */
  .menu ul li ul.sub-menu,
  .menu ul li ul.children {
    width: 200px;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
  }
  /* line 139, ../../../compass/sass/_1030up.scss */
  .menu ul li ul.sub-menu li a,
  .menu ul li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  /* line 152, ../../../compass/sass/_1030up.scss */
  .menu ul li ul.sub-menu li:last-child a,
  .menu ul li ul.children li:last-child a {
    border-bottom: 0;
  }
  /* line 167, ../../../compass/sass/_1030up.scss */
  .menu ul li:hover ul {
    top: auto;
    display: block;
  }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /******************************************************************
  PAGE NAVI STYLES
  ******************************************************************/
  /******************************************************************
  COMMENT STYLES
  ******************************************************************/
  /******************************************************************
  COMMENT FORM STYLES
  ******************************************************************/
  /* line 383, ../../../compass/sass/_1030up.scss */
  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url],
  .respond-form form textarea {
    /* form validation */
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  /* line 415, ../../../compass/sass/_1030up.scss */
  .sidebar {
    margin-top: 2.2em;
  }

  /* line 419, ../../../compass/sass/_1030up.scss */
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }

  /* line 424, ../../../compass/sass/_1030up.scss */
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  /* line 429, ../../../compass/sass/_1030up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
  }
  /* line 436, ../../../compass/sass/_1030up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /*********************
  FOOTER STYLES
  *********************/
}
/* end of media query */
/******************************************************************
LARGE VIEWING SIZE 
This is for the larger monitors and possibly full screen viewers.
******************************************************************/
@media only screen and (min-width: 1240px) {
  /* styles in 1240up.scss */
  /******************************************************************
  Site Name: Flutter	
  Author: John James Kilpatrick
  
  Stylesheet: Super Size Me
  
  ******************************************************************/
}
/* end of media query */
/******************************************************************
PRINT STYLESHEET
******************************************************************/
/******************************************************************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
******************************************************************/
@media print {
  /* line 81, ../../../compass/sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 89, ../../../compass/sass/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
    /* show links on printed pages */
    /* show title too */
  }
  /* line 94, ../../../compass/sass/style.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 99, ../../../compass/sass/style.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 106, ../../../compass/sass/style.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 110, ../../../compass/sass/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 115, ../../../compass/sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 119, ../../../compass/sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 123, ../../../compass/sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 131, ../../../compass/sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 137, ../../../compass/sass/style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* hide content people who print don't need to see */
  /* line 146, ../../../compass/sass/style.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
