/******************************************************************
Site Name: Flutter	
Author: John James Kilpatrick

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}
.home {} /* home page */
.blog {} 
.archive {} /* archive page */
.date {} /* date archive page */
	.date-paged-1 {} /* replace the number to the corresponding page number */
.search {} /* search page */
	.search-results {} /* search result page */
	.search-no-results {} /* no results search page */
	.search-paged-1 {} /* individual paged search (i.e. body.search-paged-3) */
.error404 {} /* 404 page */
.single {} /* single post page */
	.postid-1 {} /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {} /* individual paged single (i.e. body.single-paged-3) */
.attachment {} /* attatchment page */
	.attachmentid-1 {} /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {} /* style mime type pages */
.author {} /* author page */
	.author-nicename {} /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {} /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {} /* category page */
	.category-1 {} /* individual category page (i.e. body.category-6) */
	.category-paged-1 {} /* replace the number to the corresponding page number */
.tag {} /* tag page */
	.tag-slug {} /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {} /* replace the number to the corresponding page number */
.page-template {} /* custom page template page */
	.page-template-page-php {} /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {} /* replace the number to the corresponding page number */
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {} /* replace the number to the corresponding page number */
.logged-in {} /* if user is logged in */
.paged {} /* paged items like search results or archives */
	.paged-1 {} /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 960px;
}

	.onecol    { width: 4.85%;  } /* grid_1  */
	.twocol    { width: 13.45%; } /* grid_2  */
	.threecol  { width: 22.05%; } /* grid_3  */
	.fourcol   { width: 30.75%; } /* grid_4  */
	.fivecol   { width: 39.45%; } /* grid_5  */
	.sixcol    { width: 48%;    } /* grid_6  */
	.sevencol  { width: 56.75%; } /* grid_7  */
	.eightcol  { width: 65.4%;  } /* grid_8  */
	.ninecol   { width: 74.05%; } /* grid_9  */
	.tencol    { width: 82.7%;  } /* grid_10 */
	.elevencol { width: 91.35%; } /* grid_11 */
	.twelvecol { width: 100%;   } /* grid_12 */
	
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol { 
		float: left; 
		position: relative;
		margin-right: 3.8%; 
	}
	
	.twelvecol {
		float: left;
		position: relative;
	}
	
	.last  { 
		margin-right: 0; 
		float: right;
	}

/*********************
HEADER SYTLES
*********************/

.header {
}

	#logo {}
	
/*********************
NAVIGATION STYLES
*********************/

.nav {}

	.menu {
		ul {
			background: #eee; 
			
			li {
				float: left;
				position: relative;
				
				a {
					border-bottom: 0;
					
					&:hover, &:focus {
						background-color: #dedede;
					
					}
				}
				
				&:first-child {}
				&:last-child {}

				ul.sub-menu,
				ul.children {
					width: 200px;
					border: 1px solid #ccc;
					border-top: 0;
					position: absolute;
					display: none;
					z-index: 8999;
						
					li {
						a {
							padding-left: 10px;
							border-right: 0;
							display: block;
							width: 180px;
							border-bottom: 1px solid #ccc;
							
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {
							a {
								border-bottom: 0;
							}
						}
						
						ul {}
					}
					
					li.current-menu-item, 
					li.current_page_item,
					li.current-page-ancestor {
						a {}
					}
				}
				
				&:hover ul {
					top: auto;
					display: block;
				}
				
			} 
			
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  
		} 
	} 

/*********************
POSTS & CONTENT STYLES
*********************/

#content {}
	
		.hentry {
			header {}
			footer {}
		} 
		
		.single-title, 
		.page-title {}
		.single-title {}
		.page-title {}
		.archive_title { }
	
		.post-id {}
		.post {} 
		.page {} 
		.attachment {} 
		.sticky {} 
		.hentry {} 
		.category-slug {} 
		.tag-slug {} 
	
		.meta {
			time {}
		}
			
		.post-content {
			p {}
			ul, ol, table, dl {}
			ul, ol {
				li {}
			}
			ul {
				li {}
			}
			ol {
				li {}
			}
			blockquote {	
				&:before {}
			}
			dl {}
			dt {}
			dd {}
			
			img {}
			
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}
			
			video, object {}
			pre, code {}
		} 
			
		.wp-caption {
			img {}
			p.wp-caption-text {}
		}
			
		.gallery {
			dl {
				a {}
				img {}
			}
			dt {}
			dd {}
		} 
			
		.gallery-caption {}
		
		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation, 
.wp-prev-next {}

	.wp-prev-next {
		ul {}
		.prev-link {}
		.next-link {}
	} 

/******************************************************************
COMMENT STYLES
******************************************************************/

#comments {
	
	span {}
}
	
.comment-nav {
	ul {
		li {}
	}
}
		
.commentlist {	
	li { 
		&:last-child {}
		
		ul.children {
			li {}
			

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {} 
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}
		
		} 
	}
	
	li[class*=depth-] {}
	li.depth-1 {}
	
	li:not(.depth-1) {}
	
	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}
	
	.alt {}
	.odd {}
	.even {}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}	
			
	.vcard { 
		
		cite.fn {
			a.url {}
		}
		
		time {
			a {
				&:hover {}
			}
		}
		
		img.photo {}
		img.avatar {}
	}

	.comment-meta {
		a {}
	} 
	.commentmetadata {
		a {}
	}
	
	.comment_content {
		p {}
	}
	
	.comment-reply-link {
		&:hover,
		&:focus {}
	} 
		
}


/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	form {
		li {	
			label,
			small {}
		}
		
		input[type=text], 
		input[type=email], 
		input[type=url], 
		textarea {
			&:focus {}
			/* form validation */
			&:invalid {}
		}
		
		input[type=text],
		input[type=email], 
		input[type=url] {}
		textarea {}
	}
}
	
	#submit {}
	
	#comment-form-title {}
	
	#cancel-comment-reply {
		a {}
	}
			
	.comments-logged-in-as {}
		
	#allowed_tags {}		
	
	.nocomments {}		
	
	
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;
		
		ul {
			li {
				margin-bottom: 0.75em;
				
				&:first-child {}
				&:last-child {}
				a {}
				
				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}
	

/*********************
FOOTER STYLES
*********************/

.footer {}
	
	.footer-links {
		ul {
			li {
				a {
					&:hover {}
				}

				ul {}
			}
		}
	} 
			
	.attribution {}
