/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

1px larger so its not loaded on landscaped iPhone. 

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {}

/*********************
HEADER SYTLES
*********************/

.header {}

	#logo {}
	
/*********************
NAVIGATION STYLES
*********************/

.nav {}

	
	.menu {
		ul {
			li {
				a {
					
					
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} 
			
			
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  
		} 
	} 

/*********************
POSTS & CONTENT STYLES
*********************/

#content {}
	
		.hentry {
			header {}
			footer {}
		} 
		
		.single-title, 
		.page-title {}
		.single-title {}
		.page-title {}
		.archive_title { }
	
		
		.post-id {} 
		.post {} 
		.page {} 
		.attachment {} 
		.sticky {} 
		.hentry {} 
		.category-slug {} 
		.tag-slug {} 
	
		
		.meta {
			time {}
		}
			
		
		.post-content {
			p {}
			ul, ol, table, dl {}
			ul, ol {
				li {}
			}
			ul {
				li {}
			}
			ol {
				li {}
			}
			blockquote {	
				&:before {}
			}
			dl {}
			dt {}
			dd {}
			
			img {}
			
			
			.alignleft, img.alignleft { 
				margin-right: 1.5em; 
				display: inline; 
				float: left; 
			}
			.alignright, img.alignright { 
				margin-left: 1.5em; 
				display: inline; 
				float: right; 
			}
			.aligncenter, img.aligncenter { 
				margin-right: auto; 
				margin-left: auto; 
				display: block; 
				clear: both; 
			}
			
			video, object {}
			pre, code {}
		} 
			
		.wp-caption {
			
			img {}
			p.wp-caption-text {}
		} 
			
		
		.gallery {
			dl {
				a {}
				img {}
			}
			dt {}
			dd {}
		} 
		
			
		.gallery-caption {}
		
		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}
				
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation, 
.wp-prev-next {}
	
	
	.wp-prev-next {
		ul {}
		.prev-link {}
		.next-link {}
	} 

/******************************************************************
COMMENT STYLES
******************************************************************/

#comments {
	
	span {}
}
	
.comment-nav {
	ul {
		li {}
	}
}
		
.commentlist {	
	li { 
		&:last-child {}
		
		ul.children {
			li {}
			
			
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {} 
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}
		
		} 
	}
	
	li[class*=depth-] {}
	li.depth-1 {}
	
	li:not(.depth-1) {}
	
	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}
	
	
	.alt {}
	.odd {}
	.even {}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}	
			
	
	.vcard { 
		
		cite.fn {
			a.url {}
		}
		
		time {
			a {
				&:hover {}
			}
		}
		
		img.photo {}
		img.avatar {}
	} 

	
	.comment-meta {
		a {}
	} 
	.commentmetadata {
		a {}
	}
	
	
	.comment_content {
		p {}
	} 
	
	
	.comment-reply-link {
		&:hover,
		&:focus {}
	} 
		
} 

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	form {
		li {	
			label,
			small {}
		}
		
		input[type=text], 
		input[type=email], 
		input[type=url], 
		textarea {
			&:focus {}
			
			&:invalid {}
		}
		
		input[type=text],
		input[type=email], 
		input[type=url] {}
		textarea {}
	}
}
	
	
	#submit {}
	
	
	#comment-form-title {}
	
	
	#cancel-comment-reply {
		a {}
	}
			
	
	.comments-logged-in-as {}
		
	
	#allowed_tags {}		
	
	
	.nocomments {}			

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}
	.widgettitle {}
	.widget {
		ul {
			li {
				&:first-child {}
				&:last-child {}
				a {}
				
				ul {}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/

.footer {}
	
	
	.footer-links {
		ul {
			li {}
		}
	} 
			
	.attribution {}