/******************************************************************
Site Name: Flutter	
Author: John James Kilpatrick

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}
.home {}                            
.blog {}                            
.archive {}                         
.date {}                            
	.date-paged-1 {}                
.search {}                          
	.search-results {}              
	.search-no-results {}           
	.search-paged-1 {}              
.error404 {}                        
.single {}                          
	.postid-1 {}                    
	.single-paged-1 {}              
.attachment {}                      
	.attachmentid-1 {}              
	.attachment-mime-type {}        
.author {}                          
	.author-nicename {}             
	.author-paged-1 {}              
.category {}                        
	.category-1 {}                  
	.category-paged-1 {}            
.tag {}                             
	.tag-slug {}                    
	.tag-paged-1 {}                 
.page-template {}                   
	.page-template-page-php {}      
	.page-paged-1 {}                
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {}             
.logged-in {}                       
.paged {}                           
	.paged-1 {}                     

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}
	
	.onecol    { width: 5.801104972%;  }       
	.twocol    { width: 14.364640883%; }       
	.threecol  { width: 22.928176794%; }       
	.fourcol   { width: 31.491712705%; }       
	.fivecol   { width: 40.055248616%; }       
	.sixcol    { width: 48.618784527%; }       
	.sevencol  { width: 57.182320438000005%; } 
	.eightcol  { width: 65.74585634900001%; }  
	.ninecol   { width: 74.30939226%; }        
	.tencol    { width: 82.87292817100001%; }  
	.elevencol { width: 91.436464082%; }       
	.twelvecol { width: 99.999999993%; }       
	
	
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol { 
		position: relative;
		float: left; 
		margin-left: 2.762430939%;
	}
	
	.first {
		margin-left: 0;
	}
	
	.last {
		float: right;
	}

/*********************
HEADER SYTLES
*********************/

.header {}

	#logo {}
	
/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #eee; 
	border: 0;
			
	li {
		float: left;
		position: relative;
				
		a {
			border-bottom: 0;
					
			
			&:hover, &:focus {
				background-color: #dedede;
					
			}
		}
				
		&:first-child {}
		&:last-child {}
				
		
		ul.sub-menu,
		ul.children {
			width: 200px;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;
						
			li {
		
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;
							
					&:hover,
					&:focus {}
		
					&:link {}
				}
		
				&:first-child {}
	
				&:last-child {
		
					a {
						border-bottom: 0;
					}
				}
						
				
				ul {}
			}
					
			
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}
				
		
		&:hover ul {
			top: auto;
			display: block;
		}
				
	} 
			
	
	li.current-menu-item, 
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  
	
} 
	
/*********************
POSTS & CONTENT STYLES
*********************/

#content {}
	
		.hentry {
			header {}
			footer {}
		} 
		
		.single-title, 
		.page-title {}
		.single-title {}
		.page-title {}
		.archive_title { }
	
		.post-id {} 
		.post {} 
		.page {} 
		.attachment {} 
		.sticky {} 
		.hentry {} 
		.category-slug {} 
		.tag-slug {}

		.meta {
			time {}
		}

		.post-content {
			p {}
			ul, ol, table, dl {}
			ul, ol {
				li {}
			}
			ul {
				li {}
			}
			ol {
				li {}
			}
			blockquote {	
				&:before {}
			}
			dl {}
			dt {}
			dd {}
			
			img {}
			
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}
			
			video, object {}
			pre, code {}
		} 
			
		.wp-caption {

			img {}
			p.wp-caption-text {}
		} 
			
		.gallery {
			dl {
				a {}
				img {}
			}
			dt {}
			dd {}
		}

		.gallery-caption {}
		
		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation, 
.wp-prev-next {}

	.wp-prev-next {
		ul {}
		.prev-link {}
		.next-link {}
	} 

/******************************************************************
COMMENT STYLES
******************************************************************/

#comments {

	span {}
}
	
.comment-nav {
	ul {
		li {}
	}
}
		
.commentlist {	
	li { 
		&:last-child {}
		
		ul.children {
			li {}
			
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {} 
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}
		
		} 
	}
	
	li[class*=depth-] {}
	li.depth-1 {}
	
	li:not(.depth-1) {}
	
	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}
	
	.alt {}
	.odd {}
	.even {}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}	
			
	.vcard { 
		
		cite.fn {
			a.url {}
		}
		
		time {
			a {
				&:hover {}
			}
		}
		
		img.photo {}
		img.avatar {}
	} 

	.comment-meta {
		a {}
	} 
	.commentmetadata {
		a {}
	}
	

	.comment_content {
		p {}
	} 
	

	.comment-reply-link {
		&:hover,
		&:focus {}
	} 
		
} 


/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	form {
		li {	
			label,
			small {}
		}
		
		input[type=text], 
		input[type=email], 
		input[type=url], 
		textarea {
			&:focus {}
			/* form validation */
			&:invalid {}
		}
		
		input[type=text],
		input[type=email], 
		input[type=url] {}
		textarea {}
	}
}
	
	#submit {}

	#comment-form-title {}
	
	#cancel-comment-reply {
		a {}
	}
			
	.comments-logged-in-as {}
		
	#allowed_tags {}		
	
	.nocomments {}		
	
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;
		
		ul {
			li {
				margin-bottom: 0.75em;
				
				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */
				
				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/

.footer {}
	
	.footer-links {
		ul {
			li {
				a {
					&:hover {}
				}

				ul {}
			}
		}
	} 
			
	.attribution {}
