/******************************************************************
Site Name:
Author:

Stylesheet: Mobile First

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.5;
	color: #565656;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}
.home {}                            
.blog {}                            
.archive {}                         
.date {}                            
	.date-paged-1 {}                
.search {}                          
	.search-results {}              
	.search-no-results {}           
	.search-paged-1 {}              
.error404 {}                        
.single {}                          
	.postid-1 {}                    
	.single-paged-1 {}              
.attachment {}                      
	.attachmentid-1 {}              
	.attachment-mime-type {}        
.author {}                          
	.author-nicename {}             
	.author-paged-1 {}              
.category {}                        
	.category-1 {}                  
	.category-paged-1 {}            
.tag {}                             
	.tag-slug {}                    
	.tag-paged-1 {}                 
.page-template {}                   
	.page-template-page-php {}      
	.page-paged-1 {}                
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {}             
.logged-in {}                       
.paged {}                           
	.paged-1 {}  

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $baseColor;

	&:hover, &:focus {
		color: lighten($baseColor, 9%);
	}

	&:active {

	}

	&:link {
		-webkit-tap-highlight-color : rgba(0,0,0,0);
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER SYTLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 1px solid #ccc;
	border-bottom: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			background-color: #eee;
			border-bottom: 1px solid #ccc;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} 

	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  

} 


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 2.2em;
}

		.hentry {

			header {}

			footer {}

		} 

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title {}

		.post-id {} 
		.post {} 
		.page {} 
		.attachment {} 
		.sticky {} 
		.hentry {} 
		.category-slug {} 
		.tag-slug {}

		.meta {
			color: #999;

			time {}
		}

		.post-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre, code {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		}

		.wp-caption {
			background: #eee;
			padding: 5px;

			img {
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} 

		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} 

		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.af_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				&:hover,
				&:focus {}

			}

		}

		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} 

	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} 

/******************************************************************
COMMENT STYLES
******************************************************************/


#comments {

	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}


			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {} 
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} 
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	}


	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}


	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} 


	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} 

} 

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	#submit {}

	#comment-form-title {
		margin: 0 0 1.1em;
	}

	#cancel-comment-reply {
		a {}
	}

	.comments-logged-in-as {}

	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				ul {}

			}

		}

	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
}

	.footer-links {

		ul {

			li {}

		}

	}


	.attribution {}

